* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 75%;

}

#left {
    display: flex;
    position: relative;
    width: 10%;

}

#right {
    display: flex;
    position: relative;
    width: 15%;
    height: 100%;
}

.navbar ul {
    display: flex;
    position: relative;
    list-style-type: none;
    margin-left: 20px;
}

.navbar li {
    position: relative;
    font-size: 14px;
    padding: 10px 20px;
}

.navbar ul a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #333;

}

.img-left {
    position: absolute;
    margin-left: 30px;
}

.menu-right {
    display: flex;
    justify-content: space-around;
}

.input-1 {
    margin-right: 30px;
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    background-color: rgb(170, 170, 170, 0.3);
    padding: 0px 32px;
    font-size: 15px;
    opacity: 0.5;
}

/* .input-1:focus {
    outline: none;
} */


.navbar-right {
    position: relative;
}

.icon1 {
    position: absolute;
    top: 22%;
    left: 8px;
}

.cart-user ul {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    top: -7%;
    right: 45%;
    list-style-type: none;
}

.cart-user li {
    padding: 0 8px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar a:hover {
    color: #00BDD6;
    font-weight: bold;
}

.navbar a:hover::after {
    width: 100%;
    transform: translateY(50%);
}

.navbar a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    transition: all 0.2s linear;
    background: #00BDD6;
}


.path{
    margin-top: 60px;
}


.title{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
}
.rating-left {
    margin-top: 15px;
}
.rating{
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.rating img{
    position: relative;
    top: 11%;
}
.rating-right  {
   margin-top: 10px;
   
}
.rating-right img{
    position: relative;
    top: 11%;
    margin-left: 30px;
}

.item1{
    grid-area: header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: footer;
}
.grid-container {
    display: grid;
    grid-template-areas: 'header menu right' 'header main footer';
    grid-gap: 15px;

}  
.des-left{
    width: 850px;
}
.des-left span{
    padding: 30px 0;
    font-size: 25px;
    font-weight: 700;

}
.infor-material{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    position: relative;
}
.info{
    position: relative;
    display: flex;
    margin-top: 5px;
    
}
.info span{
    position: relative;
    margin-top: 5px;
    font-size: 14px;
}
.info img {
   padding: 0 10px;
}
